.Title
{
  justify-self: start;
 
}
body
{
color: whitesmoke;
font-family: Arial, Helvetica, sans-serif;
text-align:center;

}
#bmwback
{
    width: 100vw;
    height: 100vh;
    object-fit:cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.flexcontainer 
{
  gap:25px 25px;
    flex-direction: row;
    flex-basis: 24%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    
}
#hand1
{

 position: relative;
 max-width: 100px;
 max-height: 100px;
}

.flexcontainer img
{
  max-width: 23.9%;
  flex-shrink: 1;
}

  
  /* Responsive layout - makes a two column-layout instead of four columns  */
  @media screen and (max-width: 1500px) 
  {
    .flexcontainer img{
      flex: 100%;
      max-width: 100%;
    }
  }
  
   /* Responsive layout - makes the two columns stack on top of each other instead of next to each others  */
  @media screen and (max-width: 600px) 
  {
    .flexcontainer img {
      flex: 100%;
      max-width: 100%;
    }
  }  
  @media screen and (max-width: 600px)
  {
    #bmwback
    {
      background-color: black;
      object-fit: scale-down;
    }
    
  }
  a:link {
    color: rgb(255, 153, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }